@font-face {
  font-family: "Hinglish";
  src: url("/src/fonts/SAMAN___.TTF") format("truetype");
}

.heading {
  background: linear-gradient(to right, #0074d9 0%, #7fdbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.75rem;
  font-family: "Hinglish";
  font-weight: bold;
}

.hindi {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  max-width: 600px;
  color: #ffffff;
  font-weight: lighter;
}

.animtext {
  color: #07aeae;
}
