.subnav-links {
  display: flex;
  background: #ffffff;
  opacity: 100%;
  margin-top: 20px;
  border-radius: 20px;
  color: black;
  width: fit-content;
  justify-content: space-around;
  padding: 10px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.subnav-links li {
  list-style: none;
  margin: 0 12px;
}

.navigation2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subnav-links li a {
  position: relative;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}



.subnav-links li a:hover {
  background-color: rgb(255, 136, 0);
  transition: all 0.4s ease;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
}
