
.cardbody {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardbody iframe {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .cardbody iframe {
    width: 100%;
  }
}
