* {
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 1000;
}

.navigation img {
  max-width: 35px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  background: #000000;
  opacity: 100%;
  padding: 10px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li a {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: yellow;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before {
  width: 100%;
}
